<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="coffee icon"></i>{{ title }}</h1>
        </div>
    </div>
    <a class="ui blue icon button" (click)="showTaskForm()"><i class="add to calendar icon"></i> Add task</a>
    <a class="ui blue icon button" (click)="showTodoForm()"><i class="edit icon"></i> Add note</a>
    <a class="ui blue icon button" href="/logout" method="post"><i class="sign out icon"></i> Logout</a>
</nav>
<todos></todos>
<div class="ui modal" id="todoModal">
    <i class="close icon"></i>
    <div class="header" style="text-align: center">
        <h2>Adding note...</h2>
    </div>
    <todo-form (created)="onTodoCreated($event)"></todo-form>
</div>
<div class="ui modal" id="taskModal">
    <i class="close icon"></i>
    <div class="header" style="text-align: center">
        <h2>Adding task...</h2>
    </div>
    <task-add (created)="onTaskCreated($event)"></task-add>
</div>